
body{
    margin-left: 15%;
    margin-right: 15%;
}

header{
    border-right-style: ridge;
    width: 200px;
    border-color: #F3F3F3;
}

header img{
    height: 80px;
    display: block;
}

/* Inizio Sezione menu */

.menu li {
    display: inline;
    list-style: none;
    text-transform: uppercase;  
}

.menu li a {
    text-decoration: none;
    margin-right: 10px;
}

nav ul{
    padding: 0;
}

nav{ 
    margin-top: 100px;
    margin-bottom: 50px;
    
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: #B6B6B6;
    text-decoration: none;
}



nav{
    margin-top: 50px;
}

/* Fine Sezione menu */

/* Inizio corpo */

    /* Inizio prima sezione del corpo */

main>.banner-1{
    height: 800px;
    position: relative;
}

.img-banner-1{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.opacity{
    position: absolute;
    background-color: #131111;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    border-radius: 30px;
}

.title{
    position: absolute;
    top: 500px;
    left: 0;
    right: 500px;
    bottom: 0;
    margin: 40px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}


        /* Fine prima sezione del corpo */

        /* Inizio seconda sezione del corpo */
.container{
    margin: 15px auto;
    padding-bottom: 2%;
}

.container-header{
    margin-bottom: 2%;
    display: block;
}

.container-header p{
    margin-top: 5px;;
}

.container-header h1{
    margin-bottom: 5px;;
}

.container-main-left{
    width: 20%;
    float: left;
    display: inline;
}

.container-main-left .img-1{
    width: 100%;
    position: relative;
    height: 260px;
}

.container-main-left .img-1 img{
    width: 100%;
    height: 260PX;
    border-radius: 25px;
}

.container-main-center{
    margin-left: 2%;
    margin-right: 2%;
    width: 56%;
    display: inline-block;
    
}

.container-main-center .img-1 img{
    width: 100%;
    border-radius: 25px;
    height: 100%;
}

.container-main-center .img-1{
    width: 100%;
    position: relative;
    height: 260px;
}

.container-main-right{
    width: 20%;
    height: 500px;
    float: right;
    display: inline;
}

.container-main-right .img-1 img{
    width: 100%;
    border-radius: 25px;
    height: 100%;
}

.container-main-right .img-1{
    width: 100%;
    position: relative;
    height: 260px;
}

.container h3{
    color: #9C9C9C;
}

.container p{
    color: #9C9C9C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.5;
}

        /*Fine seconda sezione del corpo*/
        
footer{
    display: block;
}

